
<!--<div>-->
<!--<%= pizza.title %> (<%= size %>)-->
<!--<div>Ціна: <%= pizza[size].price %> грн.</div>-->
<!--<div>-->
<!--<button class="btn btn-danger minus">-</button>-->
<!--<span class="label label-default"><%= quantity %></span>-->
<!--<button class="btn btn-success plus">+</button>-->
<!--</div>-->
<!--</div>-->

<div class="boughtCard">
    <h4 class="boughtName">
        <%= pizza.title %> (<%= size %>)
    </h4>

    <img class="rImage" src="<%= pizza.icon %>" alt="Pizza">
    <span class="rSize">
                <img src="assets/images/size-icon.svg">
        <%= pizza[size].size%>
            </span>
    <span class="rWeight">
                <img src="assets/images/weight.svg">
        <%= pizza[size].weight%>
            </span>
    <br>

    <div class="rPrice">
        <b>
            <%= pizza[size].price %> грн.
        </b>
    </div>
    <br>

    <div class="buttons">
        <div class="col-xs-3 col-sm-3 col-md-3 ">
            <button class="btn btn-xs btn-danger btn-circle minus">-</button>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <span class="label  label-warning quant "><%= quantity %></span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">

            <button  class="btn btn-xs btn-success btn-circle plus">+</button>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <button  class ="btn btn-xs btn-default btn-circle cross">✕</button>
        </div>
    </div>

</div>